<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
   <h1>Hello guys I am home</h1> 
   <br><br>
   
   <h1>Sign up</h1>
    <form action="/signup" method="post">

        <input type="text" placeholder="enter your name" name="name"> <br><br>
        <input type="email" placeholder="enter your email" name="email"> <br><br>
        <input type="password" placeholder="password" name="password"> <br><br>
        <input type="password" placeholder="confirm password" name="confirm_password"> <br><br>
        <input type="submit" value="submit">

        



    </form>
    <br>

    <form action="/signin" method="post">
        Already have accouunt? <input type="submit" value="signin">
    </form>

</body>
</html>